* {
    box-sizing: border-box;
}
/*
 $oragne = #e36335;
 $blue = #3b3d63;
 $brown = #bbb0a5;
 $golden = #A58242;
 */

.js_logo {
    position: fixed;
    top: 30px;
    left: 30px;
    max-width: 200px;
    z-index: 999;
}
.js_logo svg {
    width: 100%;
}
a {
    color: white;
}
a:hover, a:active {
    color: white;
    opacity: 0.6;
}
p {
    font-size: 18px;
    line-height: 27px;
    color: white;
}

#home {
    background: url('../img/halfLogo.svg') no-repeat;
}
#service {
    background: url('../img/halfLogoService.svg') no-repeat;
}
#about {
    background: url('../img/halfLogoAbout.svg') no-repeat;
}
#find {
    background: url('../img/halfLogoFind.svg') no-repeat;
}
#home, #about, #service, #find {
    background-size: 550px;
    background-position: 0px 67vh;
}
h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 4rem;
}
.js_golden {
    color: #A58242;
}
.js_nav {
    position: absolute;
    top: 30px;
    z-index: 9999;
    right: 30px;
    padding:  30px;
}
.js_nav ul li{
    display: inline;
    padding:  30px;


}
.js_nav ul li span{
    cursor: pointer;
    color: white;
}
.js_half-logo {
    width: 100%;
    margin: auto;
    max-width: 400px;
}
.js_half-logo  img{
    width: 100%;
}
.js_anchors {
    position: fixed;
    top:50%;
    right: 10px;
    transform: translateY(-50%)t;
    z-index: 999;
    cursor: pointer;
}

span.moveTo2.js_addborder {
    color: #3b3d63;
}
span.moveTo3.js_addborder {
    color: #e36335;
}
span.moveTo4.js_addborder {
    color: #bbb0a5;
}
.js_anchors button {
    display: block;

    margin: 10px;
    background: transparent;
    color: white;
    width: 13px;
    height: 13px;
    outline: none;
    border-radius: 50%;
    border: 3px solid white;
    opacity: 0.5;
}
button.moveTo1.js_addborder {
    opacity: 1;
}
button.moveTo2.js_addborder {
    opacity: 1;
}
button.moveTo3.js_addborder {
    opacity: 1;
}
button.moveTo4.js_addborder {
    opacity: 1;
}

.js_heading {
    text-align: center;
    margin: 50px auto;
}
.js_prfile_img{
    position: relative;
}
.js_prfile_img i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 60px;
    transform: translate(25%, 20%);
    color:#e36335;
}
.js_profile {
    border-radius: 50%;
}
.js_profile-content h4 {
    color: #e36335;
    margin: 30px 0;
}
.js_social {
   position: fixed;
    bottom: 10px;
    right: 30px;

}
.js_social li {
    width: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.mobile-nav {
    display: none;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 999;
    width: 40px;
}
.arrow-left {
    left: -20px;
}
.arrow-right {
    right: -20px;
}
#map {
    width: 750px;
    height: 500px;
}

@media only screen and (max-width: 768px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
    .js_logo {
        left: 50%;
        transform: translateX(-50%);

    }
    #service .container {
        width: 80%;
    }
    div#fullpage {

    }
    .js_nav {
        top: 100px;
        right: 0;
        width: 100%;
        text-align: center;;
    }
    .js_nav ul li{
        padding:  30px 15px;
    }
    .slider__content .col-md-12 {
        padding: 0;
    }
    .slider__content .col-md-12:first-child {
        margin-top: 100px;
    }
}
