* {
    box-sizing: border-box;
}
@font-face {
    font-family: Calibri;
    src: url(../calibri/Calibri.ttf);
}


/*
 $oragne = #e36335;
 $blue = #3b3d63;
 $brown = #bbb0a5;
 $golden = #A58242;
 */
body {
    font-weight: 100;
    font-family:  Calibri;
}
.js_logo {
    position: fixed;
    top: 30px;
    left: 50px;
    max-width: 300px;
    z-index: 999;
    cursor: pointer;
}
.js_logo svg {
    width: 100%;
}
a {
    color: #645A50;
}
a:hover, a:active {
    color: #e36335;

}
.desktop-only a:hover {
    opacity: 1;
    text-decoration: none;
}
p {
    font-weight: 100;
    line-height: 20px;
    font-size: 16px;
    color: #645A50;
}

#home {
    background: url('../img/halfLogo.svg') no-repeat;
}
#service {
    background: url('../img/halfLogoService.svg') no-repeat;
}
#about {
    background: url('../img/halfLogoAbout.svg') no-repeat;
}
#about h1 {
    color: #e36335;
}
#find {
    background: url('../img/halfLogoFind.svg') no-repeat;
}
#find h1 {
    color: #e36335;
}
#home, #about, #service, #find {
    background-size: 550px;
    background-position: 0 100%;
}
h1 {
    color:  #645A50;
    font-family:  Calibri;
    font-weight: 100;
    font-size: 3rem;
}
.js_golden {
    color: #D7411D;
    font-weight: 600;
}
.js_nav {
    position: absolute;
    top: 30px;
    z-index: 9999;
    right: 20px;
    padding: 30px 0;
}
.js_nav ul li{
    display: inline;
    padding:  30px;
    font-weight: 400;

}
.js_nav ul li span{
    cursor: pointer;
    color: #645A50;
}
.js_nav ul li span:hover{
    opacity: 0.5;
    transition: 0.2s ease;
}
.js_half-logo {
    width: 100%;
    margin: auto;
    max-width: 400px;
}
.js_half-logo  img{
    width: 100%;
}
.js_anchors {
    position: fixed;
    top:50%;
    right: 45px;
    transform: translateY(-50%)t;
    z-index: 999;
    cursor: pointer;
}

span.moveTo2.js_addborder {
    color: white;
}
span.moveTo3.js_addborder {
    color: #e36335;
}
span.moveTo4.js_addborder {
    color: #e36335;
}
.js_anchors button {
    display: block;
    margin: 10px 0;
    background: transparent;
    color: white;
    width: 13px;
    height: 13px;
    outline: none;
    border-radius: 50%;
    border: 3px solid #645A50;
    opacity: 0.2;
}
button.moveTo1.js_addborder {
    opacity: 1;
}
button.moveTo2.js_addborder {
    opacity: 1;
}
button.moveTo3.js_addborder {
    opacity: 1;
}
button.moveTo4.js_addborder {
    opacity: 1;
}

#slider {
    position: relative;
}
#slider .vertical-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 100%;
    content: '';
    background: #645A50;
    opacity: 0.2;
}
#service .v_wrapper {
    position: relative;
    padding: 35px;
}
#service .v_wrapper .vertical-line {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 100%;
    content: '';
    background: #645A50;
    opacity: 0.2;
}
#service h1 {
    color: #D7411D;
}
#service h2 {
    color: #D7411D;
    margin-bottom: 20px;
    font-size: 24px;
}
#service ul li {
    color: white;
    padding: 0 0 15px 15px;
    position: relative;
    font-weight: 100;
    line-height: 20px;
    font-size: 16px;
}
#service ul li:before {
    position: absolute;
    top: 10px;
    left: 0;
    transform: translate(-50%, -50%);
    content: '';
    background: #A58242;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 10px;

}
#service p {
    color: white;
}
#service h1, #service h2 {
    color: #A58242 !important;
}
.js_heading {
    text-align: center;
    margin: 50px auto;
}
.js_prfile_img{
    position: relative;

}
.js_prfile_img img{
    margin: auto;
}
.js_prfile_img:hover i {
    background: white;
    transition: 0.2s ease;
}
.js_prfile_img:hover i:before {

    transition: 0.2s ease;
    color: #e36335;
}
.js_prfile_img i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 60px;
    transform: translate(25%, 20%);
    background: #e36335;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: table;
}
.fa-info:before {
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 34px;
}
.w_col {
    padding: 30px;
}
.js_profile {
    border-radius: 50%;

}
.js_profile-content {
    padding-left: 30px;
}
.js_profile-content h4 {
    color: #e36335;
    margin: 50px 0;


}
.js_social {
   position: fixed;
    bottom: 10px;
    right: 43px;

}
.js_social li {
    width: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.mobile-nav {
    display: none;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 999;
    width: 40px;
}
.arrow-left {
    left: -20px;
}
.arrow-right {
    right: -20px;
}
#find h2 {
    color: #e36335;
    margin-bottom: 20px;
    font-size: 24px;
}
#find .v_wrapper {
    position: relative;
}
#find .v_wrapper .vertical-line {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 120%;
    content: '';
    background:#645A50;
    opacity: 0.4;
}
#map {
    width: 650px;
    height: 500px;
    margin: auto;
}

ul.slick-dots  {
    margin: auto;
    width: 100%;
    max-width: 200px;
    padding: 30px;
}
ul.slick-dots li {
    display: inline-block;
    margin: 0 10px;
    background: transparent;
    color: #645A50;
    width: 13px;
    height: 13px;
    outline: none;
    border-radius: 50%;
    border: 3px solid #645A50;
    opacity: 0.2;
    cursor: pointer;
    padding: 0 !important;
}
ul.slick-dots li:before {
    display: none;
}

ul.slick-dots .slick-active {
    opacity: 1;
}
ul.slick-dots li button {
    display: none;
}
@media only screen and (max-width: 991px) {
    .desktop-only {
        display: none !important;
    }
    #map {
        margin: 20px 0;
        width: 100%;
    }
    .vertical-line {
        display: none;
    }
    h1 {
        font-size: 3rem;
    }
    #home .col-md-12 {
        padding: 20px !important;
    }
}
@media only screen and (max-width: 820px) {
    #home, #about, #service, #find {
        background-size: 85%;
    }
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
    .js_logo {
        left: 50%;
        transform: translateX(-50%);
        max-width: 300px;
        width: 70%;
        text-align: center;

    }
    #service .container {
        width: 100%;
    }
    #about .container {
        width: 100%;
    }
    div#fullpage {

    }
    h1, .js_heading {
        text-align: left;
    }
    .js_nav {
        top: 100px;
        right: 0;
        width: 100%;
        text-align: center;;
    }
    .js_nav ul li{
        padding:  30px 15px;
    }
    .slider__content .col-md-12 {
        padding: 0;
    }
    .slider__content .col-md-12:first-child {
        margin-top: 100px;
    }
    h1 {
        font-size: 2.5rem;
    }
    .js_anchors {
        display: none;
    }
    .js_social {
        right: 10px;
    }
    #service .v_wrapper, .js_profile-content {
        padding: 0;
    }
    .col-md-12, .col-sm-12 {
        padding: 20px !important;
    }

}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}